@model IEnumerable<NoNameCodeTask.Models.CommentSlider>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/css/adminPanel.css" rel="stylesheet" />
<div class="container menuContainer">
    <div class="row">
        <div class="col-sm-12">
            <div class="menuHeader"><h2>Services Section</h2></div>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-3">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Name)</p>
        </div>
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.JobPosition)</p>
        </div>
        <div class="col-sm-4">
            <p>@Html.DisplayNameFor(model => model.Text)</p>
        </div>
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.ImagePath)</p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    @foreach (var item in Model)
    {
    <div class="row menuItem">
        <div class="col-sm-2">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
        </div>
        <div class="col-sm-2 ">
            <p>@Html.DisplayFor(modelItem => item.JobPosition)</p>
        </div>
        <div class="col-sm-4 ">
            <p>@Html.DisplayFor(modelItem => item.Text)</p>
        </div>
        <div class="col-sm-2 ">
            <p><img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="width:70%;" alt="Alternate Text" /> </p>
        </div>
        <div class="col-sm-2 menuCrud">
            <div class="row" style="margin-bottom:15px;">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </div>
            <div class="row" style="margin-bottom:15px;">@Html.ActionLink("Details", "Details", new { id = item.Id }) </div>
            <div class="row">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</div>
        </div>
    </div>

    }
</div>

