@model IEnumerable<NoNameCodeTask.Models.SubjectPrograms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/css/adminPanel.css" rel="stylesheet" />
<div class="container menuContainer">
    <div class="row">
        <div class="col-sm-12">
            <div class="menuHeader"><h2>Programs Section</h2></div>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-3">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Name)</p>
        </div>
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.ClickPath)</p>
        </div>
        <div class="col-sm-2">
            <p>@Html.DisplayNameFor(model => model.IconPath)</p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    @foreach (var item in Model)
    {
    <div class="row menuItem">
        <div class="col-sm-2">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
        </div>
        <div class="col-sm-2 ">
            <p><div style="width:50%;height:15px;background-color:@Html.DisplayFor(modelItem => item.ClickPath);"></div></p>
        </div>
        <div class="col-sm-2">
            <p><img src="@Html.DisplayFor(modelItem => item.IconPath)" style="width:70%;background-color:@Html.DisplayFor(modelItem => item.ClickPath);" alt="Alternate Text" /></p>
        </div>
        <div class="col-sm-6 menuCrud">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
    }
</div>

