@model IEnumerable<NoNameCodeTask.Models.NewsContent>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/css/adminPanel.css" rel="stylesheet" />
<div class="container menuContainer">
    <div class="row">
        <div class="col-sm-12">
            <div class="menuHeader"><h2>News Content Section</h2></div>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-3">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
    </div>
    <div class="row menuItem">
        <div class="col-sm-3">
            <p>@Html.DisplayNameFor(model => model.Text)</p>
        </div>
        <div class="col-sm-3">
            <p>@Html.DisplayNameFor(model => model.TextDate)</p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row menuItem">
            <div class="col-sm-3">
                <p>@Html.DisplayFor(modelItem => item.Text)</p>
            </div>
            <div class="col-sm-3 ">
                <p>@Html.DisplayFor(modelItem => item.TextDate)</p>
            </div>
            <div class="col-sm-6 menuCrud">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>

    }
</div>

